input[name="NCS"] {
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
  padding: 0 24px 0px 15px;
  color: $darkShade25;
  @include mixinFont($montserrat, normal, 14, 44);
  background: #fff url("./misc/images/arrow-down-passive.svg") 96% center
    no-repeat;
  // background-image: url("./misc/images/arrow-down.svg");
  // background: #fff 285px 9px no-repeat;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer;

  &:hover,
  focus {
    border: 1px solid $darkShade50;
    color: $darkShade75;
    @include mixinFont($montserrat, normal, 14, 44);
    background: #fff url("./misc/images/arrow-down.svg") 96% center no-repeat !important;
  }
}

.ncs__rooms {
  height: 44px;
  width: 266px;
}
.ncs__guests {
  height: 44px;
  width: 320px;
}

.ncs_clicked {
  border: 1px solid $darkShade50 !important;
  color: $darkShade75 !important;
  @include mixinFont($montserrat, normal, 14, 44);
  border-radius: 4px 4px 0 0 !important;
  background: #fff url("./misc/images/arrow-down.svg") 96% center no-repeat !important;
}

div.NCS.parent {
  position: absolute;
  z-index: 1000;
  background: white;
  border-left: 1px solid $darkShade50;
  border-bottom: 1px solid $darkShade50;
  border-right: 1px solid $darkShade50;
  border-radius: 0 0 4px 4px;
  padding: 3px 7px 0px 11px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

div.NCS.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px auto 7px auto;
  height: 40px;
}

div.NCS__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  height: 25px;
}

div.NCS.display {
  overflow: hidden;
  background: transparent;
  z-index: 999;
  position: absolute;
  border-radius: 2px;
  padding: 5px 2.5px;
  box-sizing: border-box;
  align-items: center;
}

div.NCS.inlinedisplay {
  height: 100%;
  width: 10000px;
  margin: 0 0 0 5px;
}

div.NCS.displayelement:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

div.NCS.displayelement {
  display: inline;
  background: #fff;
  color: $darkShade75;
  @include mixinFont($montserrat, bold, 12, 15);
  margin: 0 0px 0 0;
  padding: 2.5px 0px;
  box-sizing: border-box;
  line-height: 24px;
  border-radius: 2.5px;
}

a.NCS.close {
  opacity: 1;
  text-align: center;
  font-size: 14px;
  margin: 5px;
  text-decoration: underline;
}

div.NCS.name {
  font-size: 16px;
  float: left;
}

div.NCS.value {
  font-size: 16px;
}

div.NCS.text {
  clear: both;
  display: inline-block;
  padding: 7px 0 0px 0;
}

div.NCS.name {
  @include mixinFont($montserrat, bold, 12, 15);
  color: $darkShade;
  text-transform: uppercase;
}

a.NCS__clear,
a.NCS__confirm {
  @include mixinFont($montserrat, bold, 12, 15);
  text-transform: uppercase;
}

a.NCS__clear {
  margin-left: 4px;
  color: $darkShade75;
  text-decoration: none;
}

a.NCS__confirm {
  color: $purple;
  text-decoration: none;
}

div.NCS.value {
  @include mixinFont($montserrat, bold, 12, 30);
  color: $darkShade75;
  width: 30px;
  height: 30px;
}

div.NCS.buttons {
  display: flex;
  // width: 92px;
  justify-content: space-between;
  align-items: center;
}

a.NCS.button {
  color: $darkShade50;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  background: #fff;
  border: 1px solid $darkShade25;
  border-radius: 50%;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 30px;
}

a.NCS.button.inactive {
  background: #fff;
  opacity: 0.38;
}
